html{
  scroll-behavior:smooth;
}
body {
  background-image: linear-gradient(to right, #a8caba 0%, #5d4157 100%);
  
}



.navbar-brand{
  font-weight: bold;
}
  
.nav-link:hover{
  color: #A74AD2 !important;
  background-color:#A5BCF9;
  border-radius:10px;
}
  
.navbar-brand:hover{
  color: lightblue !important;
}

.mydivstyle{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative ;   /*sticky */
  margin: 10px auto;
  width: 250px;
  height: 250px;
  background: whitesmoke;
  border-radius: 75px;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  letter-spacing: 0.2px;
  transition: 1s box-shadow;
}

.mydivstyle:hover::before,.mydivstyle:hover::after {
  display: block;
  content: '';
  position: absolute;
  width: 250px;
  height: 250px;
  background: #FDA8CF;
  border-radius: 75px;
  z-index: -1;
  animation: 1s clockwise infinite;
}

.mydivstyle:hover:after {
  background: #F3CE5E;
  animation: 2s counterclockwise infinite;
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;    
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;    
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;    
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;    
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;    
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;    
  }
}
/*   navs admin login   */

  
